/* Colores */
:root {
    --dark-brown: #272422;
    --red: #d12f2b;
    --green: #296044;
    --light-green: #c6d9d1;
    --light-gray: #e7e7e7;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--light-gray);
    color: var(--dark-brown);
}

/* Header */
header {
    background-color: var(--dark-brown);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: var(--light-gray);
    margin: 0;
}

.header-button {
    background-color: var(--red);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.header-button:hover {
    background-color: var(--green);
}

/* Container */
.container {
    background-color: var(--light-green);
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.container h2 {
    color: var(--dark-brown);
    margin-bottom: 20px;
    text-align: center;
}

.container label {
    display: block;
    margin-bottom: 5px;
    color: var(--dark-brown);
}

.container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--dark-brown);
    border-radius: 5px;
    box-sizing: border-box;
}

.button {
    background-color: var(--red);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.button:hover{
    background-color: var(--green);
}

/* Pie de pagina */
footer {
    background-color: var(--dark-brown);
    color: var(--light-gray);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilo para titulo*/
.restaurant-name {
    color: var(--light-gray);
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.restaurant-name:hover {
    color: var(--light-green);
}

.forgot-password {
    text-align: center; 
    margin: 15px 0;
    display: block;
    text-decoration: none;
    color: var(--red)
}

.forgot-password:hover {
    color: var(--green);
}
